html {
  height: 100%;
  display: flex;
}

body {
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #232222;
  perspective: 500px;
  color: #ffdab9;
  text-align: center;
}

/* haha, button styling go brrrr */

#increase-button {
  background-color: #3d573f;
}

#decrease-button span:after {
  content: "\2193";
  background-color: #802424;
}

#decrease-button {
  background-color: #802424;
}

#save-button {
  background-color: #304154;
}

#save-button span:after {
  content: "\2192";
  background-color: #304154;
}

#reset-button {
  background-color: #472052;
}

#reset-button span:after {
  content: "\2356";
  background-color: #472052;
}

.button {
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     border-radius: 10px;
     background-color: #FFF;
     border: none;
     color: #ffdab9;
     text-align: center;
     font-size: 20px;
     padding: 14.7px;
     width: 200px;
     transition: all 1s;
     cursor: pointer;
     margin: 5px;
     text-align: center;
}

 .button span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
}
 .button span:after {
     content: '\2191';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
}
 .button:hover span {
     padding-right: 25px;
}
 .button:hover span:after {
     opacity: 1;
     right: 0;
}

